.createAdmin {
    width: 90%;
    margin: auto;
  
    .createAdmin__head {
      padding: 15px;
      background: #fff;
      border-radius: 5px !important;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  